@media only screen and (max-width: 1920px) and (min-width: 0px) {
    
body {
    margin: 0px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: black; }

div.portfolioheader {
    height: 100%;
    background-color: black; }
    
img.logotype {
    display: block;
    margin: auto;
    width: 300px; 
    padding-top: 8%; }

img.name {
    display: block;
    margin: 5% auto 5% auto;
    width: 50%; }

#rectangle {
     width: 70%;
     height: 3px;
     background: white;
     margin-top: 100px;
     margin-left: auto;
     margin-right: auto; }

.description {
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none; }
    
h1.company {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2px;
    color: white; }

h2.company {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0,5px; 
    margin-bottom: 10%; }

a:link {
    text-decoration: none;
    color: white; }

a:hover {
    text-decoration: underline;
    color: white; }

img.mock-up {
    width: 100%; }

}
