body {
    margin: 0px;
    text-align: center;
    color: black; }

div.portfolioheader {
    height: 100%;
    background-color: black; }

#rectangle {
     width: 70%;
     height: 3px;
     background: white;
     margin-top: 100px;
     margin-left: auto;
     margin-right: auto; }

.description {
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none; }

a:link {
    text-decoration: none;
    color: white; }

a:hover {
    text-decoration: underline;
    color: white; }

h1.company {
    font-family: 'Playfair Display', serif;       
    font-weight: 300;
    letter-spacing: 2px;
    color: white; }

h2.company {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0,5%; }

img.mock-up {
    margin: 5% 0px 0px 0px;;
    max-width: 100%; }

/* ZMIENNA W PODSTRONACH */
img.name {
    margin: 4% auto 0% auto;
    width: 60%; }

@media only screen and (min-width: 1001px) {

img.logotype {
    margin: auto;
    width: 20%; 
    padding-top: 5%; }

h1.company {
    font-size: 32px; 
    margin-left: 15%;
    margin-right: 15%; }

h2.company {
    font-size: 20px; 
    margin-top: 4%;
    margin-bottom: 10%; }
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {

img.logotype {
    margin: auto;
    width: 30%; 
    padding-top: 10%; }

h1.company {
    font-size: 24px;
    margin-left: 12%;
    margin-right: 12%; }

h2.company {
    font-size: 16px;
    margin-top: 10%;
    margin-bottom: 20%; }
}

@media only screen and (max-width: 600px) {

img.logotype {
    margin: auto;
    width: 40%; 
    padding-top: 20%; }

h1.company {
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%; }

h2.company {
    font-size: 12px;
    margin-top: 10%;
    margin-bottom: 20%; }
}